<section class="featured-section">
    <div class="continer fluid">
        <div class="row">
            <div class="col-md-12 text-center mt-5">
                <h2 class="text-white"> Featured Teachers</h2>
                <!-- <p class="text-white"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum consequuntur
                    voluptatem delectus neque dolorem, ipsa doloremque sequi quae expedita suscipit nostrum iusto fugiat
                    nobis, deleniti porro nulla! Doloremque, perferendis qui.</p> -->
            </div>
        </div>

        <div class="row">
            <div class="col-md-3" *ngFor="let post of featuredPostsArray">

                <app-user-card [postData]="post"></app-user-card>
            </div>
        </div>
    </div>
</section>

<section class="container mt-5">
    <div class="text-center">
        <h2>All Teachers</h2>
    </div>
    <div class="row mt-5">

        <div class="col-md-8 text-center">

            <ng-multiselect-dropdown [placeholder]="'custom placeholder'" [settings]="dropdownSettingsCities"
                [data]="dropdownListCities" [(ngModel)]="selectedItemsCities" (onSelect)="onItemSelect($event)"
                (onSelectAll)="onSelectAll($event)">
            </ng-multiselect-dropdown>
        </div>
        <div class="col-md-4 text-center">
            <button class="btn btn-info bg-theme" (click)="searchCity()">Search City </button>
            <button class="btn btn-warning ml-3 " (click)=" searchClosestCity()">Search closest</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mt-3" *ngFor="let post of latestPostsArray">
            <app-user-card [postData]="post"></app-user-card>
        </div>


    </div>
</section>